.App {
  text-align: center;
  width: 100vw;
  overflow-x: hidden;  
}

.App-logo {
  top: 2.8vw;
  left: 6.25vw;
  width: 3vw;
  height: 2.361vw;
  z-index: 700;
  position: fixed;
}

.invintation {
  /* position: absolute; */
  margin: 0 auto;
  padding-top: 20px;
  left: 0;
  width: 87vw;
  /* height: calc(90vh - 20px); */
  font-size: 1.15vw;
}
.inv-img-container{
  position: absolute;
  padding-top: 120px; 
  z-index: 500;
  width: 100vw;
  background-color: rgba(249, 245, 239, 0.75);
  box-shadow: 0 0 25px rgb(249, 245, 239), 0 0 25px rgb(249, 245, 239);
}
.inv-img {
  position: relative;
  width: 87vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


p {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #1F1F1F;  
}
.t-center {
  text-align: center;
}

.subtitle {
  color: #1F1F1F;
  font-size: small;
  text-transform: uppercase;  
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
