@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f5ef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* COLOR */

.laz-c {color:#65A2AB}
.laz-bg {background-color:#65A2AB}

.grey-c {color:#727271}
.grey-bg {background-color:#727271}

.bej-c {color:#EEDFB0}
.bej-bg {background-color:#EEDFB0}

.gold-c{color:#C19A5B}



/* FONT */

.b {font-weight:bold}
