.welcome {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 9999;

}
.welcome.inactive { 
  transform: translate(0, -100vh);
  transition: transform 1s;
  transition-timing-function: cubic-bezier(0.01, 0.01, 0.001, 0.75, 1, 1);
}

.logo_welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
}